#box {
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.box1 {
  height:100px;
  width:100px;
  background-color: red;
  margin:10px;
  
}

.box2 {
  height:100px;
  width:100px;
  background-color: blue;
  margin:10px;
}